.App {
  text-align: center;
}

.App-logo {
  height: 320px;
  width: 700px;
}

.App-header {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.App-white-note {
  fill: white;
  stroke: black;
  cursor: pointer;
}

.App-white-note-gray {
  fill: #333;
  stroke: white;
}

.App-black-note {
  fill: black;
  stroke: white;
  cursor: pointer;
}

.App-black-note-gray {
  fill: #333;
  stroke: black;
}

.App-note-name {
  font-family: 'Folktale';
}