.App {
  text-align: center;
}

.App-logo {
  height: 320px;
  width: 700px;
  /* border: 1px dotted white; */
}

.App-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.App-white-note {
  fill: white;
  stroke: gray;
  stroke-width: 1;
  cursor: pointer;
}

.App-white-note-gray {
  fill: gray;
  stroke: gray;
  stroke-width: 1;
}

.App-black-note {
  fill: black;
  stroke-width: 1;
  cursor: pointer;
}

.App-black-note-gray {
  fill: #333;
  stroke-width: 1;
}

.App-note-name {
  font-family: 'Folktale';
}